*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #f7f7f7;
}

#results{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 0 32px;
}